 <h3 class="text-capitalize mb-5">hi <%=user.fullname?user.fullname: ''%></h3>
    <a href="/profile">Profile</a>
    <a href="/address">Address</a>
    <a href="/orders">Orders</a>
    <a href="/wallet">Wallet</a>
    <a href="/edit_profile">Edit Profile</a>